.header{
  padding:2rem 9%;
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.header img {
  max-width:30%;
}

.header .navbar a{
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.header .navbar a:hover{
  color: var(--green);
}

.hidden {
  display: none;
}
